# ROS 编译生成的文件夹（整个 build / devel 都屏蔽）
build/
devel/
install/
CATKIN_IGNORE

# VSCode 配置
.vscode/
.idea/
*.code-workspace

# 编译产生的中间文件
*.o
*.so
*.a
*.d
*.cmake
Makefile
CMakeLists.txt.user

# ROS 日志
log/
*.log

# 可执行文件
*.pyc
*.pyo
*.exe
*.out

# 你的功能包生成的节点文件
src/carry/launch/auto*
src/carry/src/*.cpp~
src/carry/src/*.h~