<launch> 
    <include file="$(find zoo_robot)/launch/robot_lidar.launch" />
    <include file="$(find robot_slam)/launch/navigation.launch" />
    <include file="$(find carry)/launch/control_center.launch" />

    <include file="$(find orbbec_camera)/launch/dabai_dcw2.launch" />
    <include file="$(find apriltags2_ros)/launch/continuous_detection.launch"/>

    <!-- tf相机到底盘的偏移-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base2camera" args="0.24 0.0 0.17 0 0 0 base_link camera_link" />
</launch>
